{% load staticfiles %}

<!--

TODO:
    -copyright
    -sitemap
    -privacy policy
    -terms of use
    -contact info
    -quick links
    -social medias
    -alternative branding?
    -mission/values
    -keywords
    -testimonials (give this one a few months)


-->

<div id = "footer">
    <div id = "footer-safe">
        <div class = "col" id = "footer-logo">

        </div>
        <div class = "col" id = "footer-links">
            <p class = "col-title">Links</p>
            <div class = "col-links">
                <div class = "col-link">Work</div>
                <div class = "col-link">Services</div>
                <div class = "col-link">About</div>
            </div>
        </div>
        <div class = "col" id = "footer-legal">
            <p class = "col-title">Legal</p>
            <div class = "col-links">
                <div class = "col-link">Terms and Conditions</div>
                <div class = "col-link">Services</div>
                <div class = "col-link">About</div>
            </div>
        </div>
        <div class = "col" id = "footer-socials">
            <div class = "social"></div>
            <div class = "social"></div>
            <div class = "social"></div>
            <div class = "social"></div>
        </div>
    </div>
</div>
