{% extends 'main/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div id = "landing">
        <div id = "landing-safe">
            <div id = "landing-msg">
                <h1 id = "landing-msg-title">Websites Grow on Our Trees</h1>
                <p id = "landing-msg-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales neque eu purus euismod, nec tincidunt sapien posuere. Donec nec nibh sagittis, rutrum magna nec, ornare mi.</p>
                <div id = "landing-works-btn">See Our Work</div>
            </div>
            <div id = "landing-img">
                <img src = "{% static 'img/stock.png' %}">
            </div>
        </div>
    </div>
    <div id = "products">
        <div id = "products-list">
            <div class = "product">
                <div class = "product-icon">
                    <img src = "{% static 'img/one.png' %}">
                </div>
                <p class = "product-title">Website Development</p>
                <p class = "product-desc">Aenean lorem eros, elementum vitae orci non, tempus imperdiet lectus. Praesent a volutpat risus. Proin eget augue at orci congue hendrerit.</p>
                <a class = "more-btn product-btn" href = "services#website">See more</a>
            </div>
            <div class = "product">
                <div class = "product-icon">
                    <img src = "{% static 'img/two.png' %}">
                </div>
                <p class = "product-title">Web Apps</p>
                <p class = "product-desc">Duis egestas ac metus in pretium. Vestibulum euismod metus in sem commodo rhoncus. Etiam blandit luctus urna semper porta. Aliquam ornare ultricies est sed eleifend.</p>
                <a class = "more-btn product-btn" href = "services#app">See more</a>
            </div>
            <div class = "product">
                <div class = "product-icon">
                    <img src = "{% static 'img/three.png' %}">
                </div>
                <p class = "product-title">Support</p>
                <p class = "product-desc">Praesent ornare ex lectus, eget volutpat felis eleifend in. Duis at ante nunc. Aliquam vehicula malesuada erat quis mattis. Nullam id egestas est. Nullam ut sem massa.</p>
                <a class = "more-btn product-btn" href = "services#support">See more</a>
            </div>
        </div>
    </div>
    <div id = "contact">
        <div id = "contact-safe">
            <p id = "contact-title">Get In Touch</p>
            <p>Expect a quick response by email or by Messenger.</p>
            <div id = "contact-options">
                <div class = "contact-option">
                    <img src = "{% static 'img/email.png' %}">
                    <a href = "mailto:email@utilelabs.com">email@utilelabs.com</a>
                </div>
                <div class = "contact-option">
                    <img src = "{% static 'img/messenger.png' %}">
                    <p>UtileLabs</p>
                </div>
            </div>
        </div>
    </div>
    <div id = "about">
        <div id = "about-safe">
            <div id = "about-images">
                <div class = "about-img"></div>
                <div class = "about-img"></div>
                <div class = "about-img"></div>
            </div>
            <p id = "about-title">The Team</p>
            <p id = "about-desc">
                {% lorem %}
            </p>
            <a class = "more-btn" href = "about">Learn more</a>
        </div>
    </div>
{% endblock %}
