{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Utile Labs</title>

        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/index.css' %}">
    </head>
    <body>
        <div id = "nav">
            <div id = "nav-safe">
                <div id="nav-logo">
                    <img src = "{% static 'img/acorn.png' %}">
                </div>
                <div id="nav-links">
                    <a class="nav-link" href = "/works">Work</a>
                    <a class="nav-link" href = "/services">Services</a>
                    <a class="nav-link" href = "/about">About</a>
                </div>
            </div>
        </div>
        <div id = "landing">
            <div id = "landing-safe">
                <div id = "landing-msg">
                    <h1 id = "landing-msg-title">Websites Grow on Our Trees</h1>
                    <p id = "landing-msg-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales neque eu purus euismod, nec tincidunt sapien posuere. Donec nec nibh sagittis, rutrum magna nec, ornare mi.</p>
                    <div id = "landing-works-btn">See Our Work</div>
                </div>
                <div id = "landing-img">

                </div>
            </div>
        </div>
        <div id = "services">
            <div id = "services-list">
                <div class = "service">
                    <div class = "service-icon">
                        <img src = "{% static 'img/one.png' %}">
                    </div>
                    <p class = "service-title">Simple, Clean Design</p>
                    <p class = "service-desc">Aenean lorem eros, elementum vitae orci non, tempus imperdiet lectus. Praesent a volutpat risus. Proin eget augue at orci congue hendrerit.</p>
                </div>
                <div class = "service">
                    <div class = "service-icon">
                        <img src = "{% static 'img/two.png' %}">
                    </div>
                    <p class = "service-title">Diverse Skillset</p>
                    <p class = "service-desc">Duis egestas ac metus in pretium. Vestibulum euismod metus in sem commodo rhoncus. Etiam blandit luctus urna semper porta. Aliquam ornare ultricies est sed eleifend.</p>
                </div>
                <div class = "service">
                    <div class = "service-icon">
                        <img src = "{% static 'img/three.png' %}">
                    </div>
                    <p class = "service-title">Immediate Support</p>
                    <p class = "service-desc">Praesent ornare ex lectus, eget volutpat felis eleifend in. Duis at ante nunc. Aliquam vehicula malesuada erat quis mattis. Nullam id egestas est. Nullam ut sem massa.</p>
                </div>
            </div>
        </div>
    </body>
</html>
