{% extends 'main/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/servies.css' %}">
{% endblock %}

{% block content %}
<section class="container">
  <div class="row">
    <h1>Website Development and Design</h1>
  </div>
</section>

<section class="container">
  <div class="row">
    <h1>Web App Development</h1>
  </div>
</section>

<section class="container">
  <div class="row">
    <h1>Website Support</h1>
  </div>
</section>
{% endblock %}
