@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

:root{
    --safe: 80%;
    --safe-max: 1100px;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
*{
    font-family: 'Roboto', sans-serif;
}

a:active{
    text-decoration: none;
    color: initial;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: initial;
}
a:focus{
    text-decoration: none;
    color: initial;
}
a{
    text-decoration: none;
    color: inherit;
}
