#landing{
    width: 100%;
    padding: 70px 0 50px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    -background: #3c5148;
    color: #555;
    position: relative;
}
#landing-safe{
    width: var(--safe);
    max-width: var(--safe-max);
    display: flex;
    align-items: space-between;
}
#landing-msg{
    flex: 1;
}
#landing-msg-title{
    font-size: 40px;
    -text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
#landing-msg-body{
    margin: 20px 0 30px 0;
    padding: 0;
    line-height: 25px;
}
#landing-works-btn{
    padding: 11px 15px;
    box-sizing: border-box;
    background: #9ac770;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border: 2px solid #9ac770;
    border-radius: 20px;
    transition: background, color .2s ease;
    cursor: pointer;
    float: right;
    color: white;
}
#landing-works-btn:hover{
    background: transparent;
    color: #9ac770;
}
#landing-img{
    width: 50%;
    max-height: 400px;
    box-sizing: border-box;
    padding: 0 0 0 100px;
}
#landing-img img{
    width: auto;
    height: 100%;
}

#products{
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    position: relative;
}
#products:before{
    content: '';
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 140px;
    background: #f5f5f5;
}
#products-title{
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 40px 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    color: rgba(0, 0, 0, .7);
}
#products-list{
    width: var(--safe);
    max-width: var(--safe-max);
    display: flex;
    justify-content: space-around;
}
.product{
    width: 30%;
    box-sizing: border-box;
    padding: 40px;
    background: white;
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, .7);
    border: 1px solid #eee;
    border-top: 3px solid #9ac770;
}
.product-icon{
    width: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-icon img{
    width: auto;
    height: auto;
}
.product-title{
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0;
    color: #555;
}
.product-desc{
    margin: 0;
    color: #999;
}
.more-btn{
    width: auto;
    color: #9ac770;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
.product-btn{
    margin-top: 12px;
}

#contact{
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0;
    background: #9ac770;
    display: flex;
    justify-content: center;
}
#contact-safe{
    width: var(--safe);
    max-width: var(--safe-max);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#contact-title{
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
#contact-options{
    margin-top: 10px;
    display: flex;
}
.contact-option{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
    font-size: 14px;
}
.contact-option p{
    margin: 0;
}
.contact-option img{
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

#about{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
#about-safe{
    width: var(--safe);
    max-width: var(--safe-max);
    box-sizing: border-box;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-images{
    display: flex;
}
.about-img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: lightgray;
    margin: 0 10px;
}
#about-title{
    margin: 30px 0 20px 0;
    font-size: 32px;
    font-weight: 500;
    color: #333;
}
#about-desc{
    width: 75%;
    color: #333;
}
