#nav{
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background: #f5f5f5;
}
#nav-safe{
    width: var(--safe);
    max-width: var(--safe-max);
    display: flex;
    align-items: center;
}
#nav-logo{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    color: #555;
    object-fit: contain;
}
#nav-logo img{
    width: 100%;
    height: 100%;
}
#nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link{
    height: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.nav-link:hover{
    color: #111;
}
